<nav class="site-nav" aria-label="Main Menu">
    <input type="checkbox" id="sidebar-active">
    
    <!-- Mobile logo with ACCUEIL text -->
    <div class="mobile-logo-container">
        <a href="{{ site.baseurl }}/" class="mobile-logo-link">
            <img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" class="mobile-logo" />
            <span class="mobile-logo-text">ACCUEIL</span>
        </a>
    </div>
    
    <label for="sidebar-active" class="open-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
    </label>
    <label id="overlay-side" for="sidebar-active"></label>
    <div class="links-container">
        <!-- Top bar with close button and logo -->
        <div class="sidebar-header">
            <label for="sidebar-active" class="close-sidebar-button">
                <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
                    <path
                        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
                </svg>
            </label>
        </div>

        {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url %}
        {% assign current = 'nav-current' %}
        {% endif %}
        {% if link.text == 'Accueil' %}
        {% assign acc_class = 'home-link' %}
        <a class="{{ current }} {{acc_class}}" href="{{ site.baseurl }}{{ link.url }}">
            <img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" class="nav-logo" />
            {{ link.text }}
        </a>
        {% else %}
        {% assign acc_class = '' %}
        <a class="{{ current }} {{acc_class}}" href="{{ site.baseurl }}{{ link.url }}">{{
            link.text
            }}</a>
        {% endif %}
        {% endfor %}
    </div><!-- .nav-menu -->
</nav><!-- .site-nav -->


<!--
    <div class="inner">
        <button id="menu-toggle" class="menu-toggle" aria-expanded="false"><span class="icon-menu"
                aria-hidden="true"></span> Menu</button>
        <div id="nav-menu" class="nav-menu">
            <ul class="menu">
                {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url %}
                {% assign current = 'nav-current' %}
                {% endif %}
                <li class="{{ current }}"><a class="{{ current }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.text
                        }}</a></li>
                {% endfor %}
            </ul>
        </div><!-- .nav-menu -->
</div><!-- .inner -->