<nav class="site-nav" aria-label="Main Menu">
    <input type="checkbox" id="sidebar-active">
    <label for="sidebar-active" class="open-sidebar-button">
        <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
            <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" />
        </svg>
    </label>
    <label id="overlay-side" for="sidebar-active"></label>
    <div class="links-container">
        <label for="sidebar-active" class="close-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32">
                <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" />
            </svg>
        </label>

        {% for link in site.navigation %}
        {% assign current = nil %}
        {% if page.url == link.url %}
        {% assign current = 'nav-current' %}
        {% endif %}
        {% if link.text == 'Accueil' %}
        {% assign acc_class = 'home-link' %}
        {% else %}
        {% assign acc_class = '' %}
        {% endif %}
        <a class="{{ current }} {{acc_class}}" href="{{ site.baseurl }}{{ link.url }}">{{
            link.text
            }}</a>
        {% endfor %}
    </div><!-- .nav-menu -->
</nav><!-- .site-nav -->
{% if page.url == '/' %}
<header class="site-header fade-in-down delay-0_5s">
    <div class="inner">
        {% if site.logo != null %}
        <p class="site-logo">
            <a href="{{ site.baseurl }}/" rel="home" class="logo-container">
                <img src="{{ site.baseurl }}/images/{{ site.logo }}" width="200" alt="{{ site.title }} logo" />
            </a>
        </p>
        <h1 class="site-title screen-reader-text">
            <a href="{{ site.baseurl }}/" rel="home">{{site.title}}</a>
        </h1>
        {% else %}
        {% endif %}
        <p class="site-description">Partage Autour de la<br> Psychomotricite au Senegal</p>
    </div><!-- .inner -->
</header><!-- .site-header -->
{% endif %}

<!--
    <div class="inner">
        <button id="menu-toggle" class="menu-toggle" aria-expanded="false"><span class="icon-menu"
                aria-hidden="true"></span> Menu</button>
        <div id="nav-menu" class="nav-menu">
            <ul class="menu">
                {% for link in site.navigation %}
                {% assign current = nil %}
                {% if page.url == link.url %}
                {% assign current = 'nav-current' %}
                {% endif %}
                <li class="{{ current }}"><a class="{{ current }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.text
                        }}</a></li>
                {% endfor %}
            </ul>
        </div><!-- .nav-menu -->
</div><!-- .inner -->