// Typography
$base-font    : 'Roboto', 'PT Serif', Georgia, Times, 'Times New Roman', serif;
$alt-font     : 'Arial', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font : $alt-font;

// Colors
$text-color : #080101;
$color1 : #d3ccadaf;
$accent-color : #046b34;
$post-color : #d3ccadaf